{% extends "base.html" %}
{% load static i18n %}
{% block title %}Members{% endblock %}

{% block content %}
<div class="container">
  <h2>Messages</h2>

  <div class="list-group">
    {% for message in message_list %}
        <h4 class="list-group-item-heading">{{ message.user }}: {{ message.content }}</h4>
    {% endfor %}
  </div>
</div>

{% if is_paginated %}
  <ul class="pagination">
    {% if has_previous %}
      <li><a href="?page={{ previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if message_list.has_next %}
      <li><a href="?page={{ next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

{% endblock content %}
